.DS_Store
.build/
.swiftpm/
DerivedData/
*.xcuserdatad/
*.xcuserstate
xcuserdata/
build/
Pods/
dist/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcshareddata/IDEWorkspaceChecks.plist
